{% extends 'base.html' %}
{% block title %}
{% endblock  %}
{% block content %}
<!-- <h1>About page</h1> -->
<p class="text-center my-5  fw-normal border border-success-3 bg-success p-3 w-50 mx-auto">"City Hospital" has became a reliable in this area. People have started believing in it now, this belief is energy for us. We are continuously striving to improve our service further. We work hard to give a better healthcare to the people, so that your faith remains the same.</p>
<p class="text-center my-5  fw-normal border border-success-3 bg-success p-3 w-50 mx-auto"><b>Mission:</b><br> only mission of "City Hospital" to provide better service to the people for less money.</p>
<p class="text-center my-5  fw-normal border border-success-3 bg-success p-3 w-50 mx-auto"><b>Our vision:</b><br>People should have full faith in this hospital (City Hospital) and there should be no shortage in our service.<br>The City Hospital must keep your personal health information confidential. It is your right.
    Information that identifies you may be written on paper, held on computer, or both. Records are stored securely in different parts of the City Hospital Cochin.</p>
{% endblock content %}