{% extends 'base.html' %}
{% block title %}
{% endblock  %}
{% block content %}
{% comment %}  {% endcomment %}
<p class=" my-5  fw-normal border border-success-3 bg-success p-3 w-50 mx-auto"  style="text-align:center">City Hospital<br>
    M.G Road, Padma Jn.<br>
    Cochin- Pin: 682035, India<br>
    
    Reception - +91 97444 73300<br>
    Foetal Medicine & USG Scan - +91 70346 99888<br>
    Enquiry - +91 75920 00731/+91 75920 00732<br>
    Laboratory - +91 7994793111<br>
    Pharmacy - +91 7944796444<br>
    IVF- +91 7592088111<br>
    Labour Room- +91 7592088333<br>
    Insurance & Billing- +91 7994792444<br>
    
    Email: mail@cityhospitals.co.in</p>
    
{% endblock content %}